@font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: url('https://nixston.zob.li/BAHNSCHRIFT.woff') format('woff');
}

@font-face {
    font-family: 'Bahnschrift Light';
    font-style: normal;
    font-weight: 100;
    src: url('https://nixston.zob.li/BAHNSCHRIFT.woff') format('woff');
}

@font-face {
    font-family: 'Bahnschrift Bold';
    font-style: normal;
    font-weight: bold;
    src: url('https://nixston.zob.li/BAHNSCHRIFT.woff') format('woff');
}

body {
    background-color: #3d546b;
}

h1, h2 {
    font-family: 'Bahnschrift Regular';
    color: #58595b;
}

h1 {
    font-size: 6rem;
}

.nixston-left {
}

iframe {
    width: 90%;
    height: 450px;
}

@media (min-width: 1600px) {
    iframe {
        height: 600px;
    }
}

.nixston-vid div {
    padding-top: 50px;
    padding-bottom: 50px;
}

.nixston-vid .nixston-right {
    background-color: white;
    text-align: center;
    min-height: 500px;
}

.nixston-vid .nixston-right iframe {
    mwidth: 560px;
    mheight: 315px;
}

@media (min-width: 1200px) {
    .nixston-vid .nixston-right iframe {
        mwidth: 853px;
        mheight: 480px;
    }
}

@media (max-width: 767.98px) {
    .nixston-vid .nixston-left {
        height: 200px;
        padding-top: 0px;
    }
}

.nixston-vid .nixston-left p {
    font-family: 'Bahnschrift Regular';
    font-size: 10rem;
    color: #445b72;
    text-align: center;
    padding-right: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

@media (min-width: 768px) {
    .nixston-vid .nixston-left p {
        font-family: 'Bahnschrift Regular';
        font-size: 10rem;
        color: #445b72;
        text-align: right;
        padding-top: 25%;
        padding-right: 50px;
    }
}

@media (min-width: 1600px) {
    .nixston-vid .nixston-left p {
        padding-top: 30%;
    }
}

.nixston-divider {
    display: none;
    height: 2px;
    margin-left: 50px;
    margin-right: 50px;
}


#nixston-head {
    border-bottom: solid 20px #f9a02b;
}

#nixston-head div {
    height: 220px;
}

/* media */
#nixston-head .nixston-left {
    background-color: white;
    text-align: center;
}

#nixston-head .nixston-right {
    background-color: #d1dae2;
    padding-right: 30px;
}

@media (max-width: 767.98px) {
    #nixston-head .nixston-right {
        display: none;
    }
}

#nixston-head .nixston-left h1 {
}

#nixston-head .nixston-right h1 {
    color: white;
    text-align: right;
    padding-top: 90px;
}

#nixston-title {
    display: inline-block;
    margin-left: -15px;
}

#nixston-nik {
    text-align: left;
    margin-bottom: -4rem;

}

#nixston-zobl {
    font-family: 'Bahnschrift Bold';
    color: #f9a02b;
    text-align: left;
    margin-bottom: -0.8rem;
    padding-left: 3px;
}

#nixston-tagline {
    font-family: 'Bahnschrift Light';
    font-size: 12pt;
    text-align: left;
    padding-left: 7px;
}



